# ENVIRONMENT CONFIGURATION TEMPLATE
# Copy this file to '.env' and populate it with your specific system values.
# NEVER commit the actual '.env' file to Git.

PUID=1000
PGID=1000
TZ=Utc

# Persistent container configuration and databases
DATA_ROOT=/srv/homelab/appdata

# Mounted data and stuff
MEDIA_ROOT=/mnt/storage/media
CLOUD_ROOT=/mnt/storage/nextcloud
CAMERA_ROOT=/mnt/storage/camera
BACKUP_ROOT=/mnt/storage/backups


# Some network constants (with fixed and static IPs)
# IF THIS DOESN'T NEED TO BE USED, MAKE THIS COMMENTED
SERVER_IP=X.X.X.X
ROUTER._IP=X.X.X.X
DOMAIN_NAME=homelab.local

# Service's port mapping, and where to find them
HTTP_PORT=80
HTTPS_PORT=443
MQTT_PORT=1883
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
JELLYFIN_PORT=8096
HOMEASSISTANT_PORT=8123
FRIGATE_PORT=5000
UPTIME_KUMA_PORT=3001
DOZZLE_PORT=8888

# DBs and their Passwords and stuff!
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_PASSWORD=change_me_db_password
MQTT_USERNAME=homelab_mqtt
MQTT_PASSWORD=change_me_mqtt_password